.dark_light_btn {
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #f4f6f9;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  cursor: pointer;
  border: 2px solid #cecece;
}

.content.dark .dark_light_btn {
  background-color: #141218;
  border-color: #323942;
}

.dark_light_btn img {
  position: absolute;
}

.dark_light_btn img:first-child {
  opacity: 1;
}

.dark_light_btn img:last-child {
  opacity: 0;
}

.content.dark .dark_light_btn img:first-child {
  opacity: 0;
}

.content.dark .dark_light_btn img:last-child {
  opacity: 1;
}
